.box1{
    border: 2px solid black;
    background-color: black;
    height: 30px;
}
h5{
    margin-top: 1px;
    color: white;
    text-align: center;

}
.subbox{
    border: 1px solid transparent;
    background-color: whitesmoke;
    height: 50px ;
    
}

h3{
    float: right;
}
.box2{
    padding: 5px;
    word-spacing: 20px;
}
.p1{
    font-size: 20px;
}
.box3{
    padding: 2%;
    position: absolute;
    right: 95%;
    color: black;
}
.box4{
    word-spacing: 3%;
    position: absolute;
    left: 90%;
    top: 8%;
    color: black;
}
.box5{
    position: absolute;
    left: 1700%;
    top: 35%;
    color: black;
}
.box6{
    position: absolute;
    left: 1750%;
    top: 35%;
    color: black;
}
.box7{
    text-align: center;
    padding: 8px;
    font-size: 20px;
    font-style: normal;
    font-family: Arial;
    word-spacing: 10px;
    transition: all 0.5s ease;
}
.box8{
    left: 15%;
    top: 50%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 4px;
}
.box9{
    position: absolute;
    left: 55%;
    top: 46%;
    border: 1px solid darkgray;
    box-shadow: 1px 2px 4px;
}
.box10{
    position: static;
    left :100%;
    top: 50%;
    margin-left: 80px;
    margin-top: 10px;

}
.box11{
    position: absolute;
    left: 70%;
    top: 190.5%;
    margin-right: 10px;
}
.box12{
    text-align: center;
}
.box13{
    text-align: center; 
}
.box14{
    margin-left:325px;
}
.box15{
    margin-left: 20px;
}
.box16{
    padding-left: 118px;
}
.box17{
    padding-left: 160px;
}
a:hover{
    border-bottom: 4px solid red;
}
a{
    color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: white;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: red;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color:white;
	text-decoration: none;
	font-weight: 300;
	color: white;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: white;
	padding-left: 8px;
}
.footer-col .social-links a{
	display:inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:5 10px 10px 5;
	text-align:center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: white;
    top: 10%;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
#h1{
    color: white;
    position: absolute;
    left: 10%;
    top: 114%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 30px;
    font-family: arial;
    background-color:black;
    font-weight: normal;
    text-align: center;
}
#h2{
    color: white;
    position: absolute;
    left: 27%;
    top: 80%;
    border: 1px solid whitesmoke;
    width: 200px;
    font-size: 30px;
    font-family: arial;
    background-color:black;
    font-weight: normal;
    text-align: center;
}
#h3{
    text-align: center;
}
#h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
#h5{
    text-align: center;
}
#h6{
    text-align: center;
}
#h7{
    color: red;
}
#h8{
    text-align: center;
    color: #ffffff;
}
#h9{
    background-color: black;
    color: white;
}
.box14 li{
    margin-left: 50px;
}
.box14 ol{
    margin-left: 40px;
}
.wrapper{
    max-width: 75%;
    margin: auto;
}
.wrapper >h2,
.wrapper >p {
    margin: 1.5rem 0;
    text-align: center;
}
.wrapper >h2{
    letter-spacing: 3px;
    font-size: xx-large;
}
.accordion{
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.accordion i{
    font-size: 1.6rem;
}
.active, .accordion:hover{
    background-color: #f1f7f5;
}
.pannel{
    padding: 0 2rem 2.5rem 2rem;
    background-color: #ffffff;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.pannel p{
    color: rgba(0,0,0,0.7);
    font-size: 1.2rem;
    line-height: 1.4;
}
.faq{
    border: 1px solid rgba(0,0,0,0.2);
    margin: 10px 0;
}
.faq.active{
    border:none;
}







